body {
    font-family: Arial, sans-serif;
    background-color: rgb(4, 86, 164);
    color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

header .company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .company-logo img {
    background-color: #000000;
    width: 200px; /* Fixed width, scaled down from original dimensions */
    height: auto; /* Height will adjust automatically to maintain aspect ratio */
    object-fit: contain; /* Ensures the image is scaled properly */
    margin: 0 auto; /* Center the image horizontally */
}

.project-details, .employment-requirements, .parking-info, .badging-info {
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    color: #000;
}

/* Additional styling here */
